In [40]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [41]:
#Load Dataset
file_path = 'pontianak-climate.xlsx'
df = pd.read_excel(file_path)

#Display Information
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5479 entries, 0 to 5478
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Tanggal  5479 non-null   datetime64[ns]
 1   TANGGAL  5479 non-null   object
 2   TN       5479 non-null   object
 3   TX       5479 non-null   object
 4   TAVG     5479 non-null   object
 5   RH_AVG   5479 non-null   object
 6   RR       5479 non-null   object
 7   SS       5479 non-null   object
 8   FF_X     5479 non-null   object
 9   DDD_X    5479 non-null   object
 10  FF_AVG   5479 non-null   object
 11  DDD_CAR  5479 non-null   object
dtypes: datetime64[ns](1), object(11)
memory usage: 513.8+ KB

,Tanggal,TANGGAL,TN,TX,TAVG,RH_AVG,RR,SS,FF_X,DDD_X,FF_AVG,DDD_CAR
0,2010-01-01,01-01-2010,24,30.4,26.6,84,6.4,6.8,4,270,2,W
1,2010-01-02,02-01-2010,24,29.3,25.8,88,6.8,0.6,4,45,3,E
2,2010-01-03,03-01-2010,25,31.4,27.6,84,1.5,7.5,5,270,3,W
3,2010-01-04,04-01-2010,24,30.8,26.8,80,29.6,2.4,2,270,1,W
4,2010-01-05,05-01-2010,22,30.1,25.2,91,1.5,0,10,270,3,SW

In [42]:
#Checks for missing value
missing_values = ['-', 8888, 9999]

df = pd.read_excel(file_path, sheet_name='Sheet1')

df_cleaned = df.replace(missing_values, np.nan)

missing_percent = (df_cleaned.isnull().sum() / len(df_cleaned)) * 100

print("Missing values percentage (%): ")
print(missing_percent)

Missing values percentage (%):
Tanggal     0.000000
TANGGAL     0.000000
TN          4.088337
TX          3.997080
TAVG        2.317941
RH_AVG      2.117175
RR         18.415769
SS          2.317941
FF_X        0.803066
DDD_X       0.784815
FF_AVG      0.784815
DDD_CAR     0.784815
dtype: float64

C:\Users\Feliciano\AppData\Local\Temp\ipykernel_13608\1685895724.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_cleaned = df.replace(missing_values, np.nan)

In [43]:
#Replaces missing values with bfill method
df_filled = df_cleaned.bfill()

missing_after_bfill = (df_filled.isnull().sum() / len(df_filled)) * 100

print("Missing values percentage after bfill (%):")
print(missing_after_bfill)

Missing values percentage after bfill (%):
Tanggal    0.0
TANGGAL    0.0
TN         0.0
TX         0.0
TAVG       0.0
RH_AVG     0.0
RR         0.0
SS         0.0
FF_X       0.0
DDD_X      0.0
FF_AVG     0.0
DDD_CAR    0.0
dtype: float64

In [44]:
#Delete 'Tanggal' column
df_filled = df_filled.drop('Tanggal', axis=1)

#Wind direction mapping
wind_direction_mapping = {
    'N': 'North',
    'NE': 'Northeast',
    'E': 'East',
    'SE': 'Southeast',
    'S': 'South',
    'SW': 'Southwest',
    'W': 'West',
    'NW': 'Northwest'
}

#Format wind direction names
df_filled['DDD_CAR'] = df_filled['DDD_CAR'].str.strip().str.upper().map(wind_direction_mapping).fillna(df_filled['DDD_CAR'])

#Column names mapping
column_mapping = {
    'TANGGAL' : 'Date',
    'TN': 'Min Temperature (°C)',
    'TX': 'Max Temperature (°C)',
    'TAVG': 'Avg Temperature (°C)',
    'RH_AVG': 'Avg Humidity (%)',
    'RR': 'Rainfall (mm)',
    'SS': 'Sunshine Duration (hours)',
    'FF_X': 'Max Wind Speed (m/s)',
    'DDD_X': 'Max Wind Direction (°)',
    'FF_AVG': 'Avg Wind Speed (m/s)',
    'DDD_CAR': 'Dominant Wind Direction (°)'
}

#Format column names
df_filled.rename(columns=column_mapping, inplace=True)

#Display the cleaned dataset
df_filled.head()

,Date,Min Temperature (°C),Max Temperature (°C),Avg Temperature (°C),Avg Humidity (%),Rainfall (mm),Sunshine Duration (hours),Max Wind Speed (m/s),Max Wind Direction (°),Avg Wind Speed (m/s),Dominant Wind Direction (°)
0,01-01-2010,24.0,30.4,26.6,84.0,6.4,6.8,4.0,270.0,2.0,West
1,02-01-2010,24.0,29.3,25.8,88.0,6.8,0.6,4.0,45.0,3.0,East
2,03-01-2010,25.0,31.4,27.6,84.0,1.5,7.5,5.0,270.0,3.0,West
3,04-01-2010,24.0,30.8,26.8,80.0,29.6,2.4,2.0,270.0,1.0,West
4,05-01-2010,22.0,30.1,25.2,91.0,1.5,0.0,10.0,270.0,3.0,Southwest

In [45]:
#Export cleaned dataset to excel
df_filled.to_excel("pontianak-climate-cleaned.xlsx", index=False)